#pragma once

#define WIFI_SSID        "your_wifi_ssid"
#define WIFI_PASSWORD    "your_wifi_password"

#define MQTT_HOST        "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.s1.eu.hivemq.cloud"
#define MQTT_USER        "your_mqtt_username"
#define MQTT_PASS        "your_mqtt_password"
